.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Times New Roman';
    background-image: url(../public/Welcome2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
  }


.semiTransparentBox {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px; 
  border-radius: 10px;
  color: white; 
}
  
  .welcome {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .squaresContainer {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .square {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .square:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .logoutButton {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Times New Roman';
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logoutButton:hover {
    background-color: #ff3333;
  }

  .semiTransparentBackground {
    background-color: rgba(255, 255, 224, 0.5);
  }