.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: #e9c694; /* Match background color of Sign-In button */
  border: none; /* Remove border */
  border-radius: 25px; /* Match border-radius of Sign-In button */
  box-sizing: border-box;
  color: #1f1f1f; /* Match text color of Sign-In button */
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 20px; /* Match font size of Sign-In button */
  font-weight: bold;
  padding: 14px 16px; /* Match padding of Sign-In button */
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Full width within its container */
  max-width: 300px; /* Limit max width for consistency */
  transition: background-color .218s, box-shadow .218s;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  width: 20px;
  margin-right: 8px; /* Match spacing of icon with text */
}

.gsi-material-button .gsi-material-button-content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: auto;
}

.gsi-material-button .gsi-material-button-contents {
  font-family: 'Roboto', arial, sans-serif;
  font-weight: bold;
}

.gsi-material-button:not(:disabled):hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}
